body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000de;
    margin: 50px;
    color: #c5c0c0;
    line-height: 1.6;
    text-align: center;
    font-size: 20px
}

a {
    color: #e4e6e4;
    text-decoration: none;
    margin: 10px;
}

input{
    font-size: 24px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

p{
    font-size: 24px;
}

h3{
    color: #ffeb3b;
    font-size: 20px;
    margin: 150px 0;
}